<mat-card>
  <mat-card-header>
    <div mat-card-avatar [style.background-image]="getBackground()"></div>
    <mat-card-title *ngIf="isRunning">{{match.teams[0].name}} ({{match.teams[0].score}}) vs {{match.teams[1].name}} ({{match.teams[1].score}})</mat-card-title>
    <mat-card-title *ngIf="!isRunning">{{match.teams[0].name}} vs {{match.teams[1].name}}</mat-card-title>
    <mat-card-subtitle *ngIf="isRunning">{{match.map | uppercase}} <span *ngIf="match.stars" class="material-icons md-18 yellow">stars</span>
    </mat-card-subtitle>
    <mat-card-subtitle *ngIf="!isRunning">{{match.time | date:'dd/MM/yyyy HH:mm' }} - {{match.map | uppercase}} <span *ngIf="match.stars" class="material-icons md-18 yellow">stars</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    
  </mat-card-content>
  <mat-card-actions>
    <a mat-button href="https://hltv.org{{match.link}}" target="_blank">HLTV</a>
    <a mat-button href="https://gg.bet/en/esports/match/{{match.teams[0].name | replace : ' ' : '-' }}-vs-{{match.teams[1].name | replace : ' ' : '-' }}-{{match.time | date:'dd-MM':'+0000' }}" target="_blank">GG.BET</a>
    <a mat-button href="{{match.link}}" target="_blank">TWITCH</a>
  </mat-card-actions>
</mat-card>