<mat-card class="match-card">
  <mat-card-header>
    <!-- div mat-card-avatar [style.background-image]="getBackground()"></div-->
    <mat-card-title class="match-card-title">
      <div fxLayout="row" fxFlexAlign="center" fxLayoutGap="5px">
        <div
          fxFlex="80"
          fxLayout="column"
          fxFlexAlign="center"
          style="margin: 15px"
        >
          <span (click)="winnerTeam(match.team1)">{{ match.team1.name }}</span>
          <span (click)="winnerTeam(match.team2)">
            vs {{ match.team2.name }}</span
          >
          <span class="mat-body">{{
            match.date | date: "dd/MM/yyyy HH:mm"
          }}</span>
        </div>
        <button mat-mini-fab color="black">
          <mat-icon (click)="delete()">delete</mat-icon>
        </button>
      </div>
    </mat-card-title>

    <!-- mat-card-subtitle *ngIf="isRunning">{{match.map | uppercase}} <span *ngIf="match.stars" class="material-icons md-18 yellow">stars</span>
    </mat-card-subtitle-->
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row" fxLayoutGap="20px" fxFlexAlign="center" class="mat-h3">
      <div class="mat-body" *ngIf="bets.length > 0" fxFlex>
        <mat-list role="list" gutterSize="3px">
          <mat-list-item
            role="listitem"
            *ngFor="let bet of bets; let i = index"
          >
            <div fxFlex fxLayout="row" fxFlexAlign="center" fxLayoutGap="5px">
              <span fxFlex="76" class="mat-body"
                >{{ bet.betType }}
                <span *ngIf="bet.winnerTeam">{{ bet.winnerTeam.name }}</span> -
                {{ bet.price | currency }} - {{ bet.odds }}</span
              >

              <mat-icon
                *ngIf="!bet.finished"
                fxFlex="8"
                style="font-size: 20px"
                [inline]="true"
                (click)="win(bet)"
                >done</mat-icon
              >
              <mat-icon
                *ngIf="!bet.finished"
                fxFlex="8"
                style="font-size: 20px"
                [inline]="true"
                (click)="lose(bet)"
                >close</mat-icon
              >
              <mat-icon
                fxFlex="8"
                style="font-size: 20px"
                [inline]="true"
                (click)="deleteBet(bet)"
                >delete</mat-icon
              >
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <!-- a mat-button href="https://gg.bet/en/esports/match/{{match.teams[0].name | replace : ' ' : '-' }}-vs-{{match.teams[1].name | replace : ' ' : '-' }}-{{match.time | date:'dd-MM':'+0000' }}" target="_blank">GG.BET</a>
    <a mat-button (click)="showVideoFrame()">TWITCH</a>
    <a mat-button target="_blank" href="https://www.hltv.org{{match.hltvLink}}" >HLTV</a>
    <a mat-button (click)="showStats = true" >STATS</a-->

    <div fxLayout="row" fxFlexAlign="center" style="margin: 15px">
      <button mat-mini-fab color="accent">
        <mat-icon (click)="addBet()">add</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>

<!--iframe
  id="video"
  (click)="showVideoFrame()"
  *ngIf="showVideo"
  #video
  style="
    z-index: 1000;
    object-fit: fill;
    width: 50vw;
    height: 50vh;
    top: 0vw;
    left: 25vw;
    position: fixed;
  "
  [src]="getVideoLink()"
  frameborder="0"
  allowfullscreen
>
</iframe-->

<app-match-stats [match]="match" *ngIf="showStats" (close)="showStats = false">
  <div></div>
</app-match-stats>
