<div fxLayout="row" fxLayoutGap="20px" fxFlexAlign="center" class="mat-h3">
  <div fxLayout="row" fxFlexAlign="center" fxLayoutGap="5px">
    <mat-icon [ngClass]="getMoneyClass(inventory)"
      >local_grocery_store</mat-icon
    >
    <span [ngClass]="getMoneyClass(inventory)">
      {{ inventory | currency }}</span
    >
  </div>
  <div fxLayout="row" fxFlexAlign="center" fxLayoutGap="5px">
    <mat-icon [ngClass]="getMoneyClass(betsExpenses)">emoji_events</mat-icon>
    <span [ngClass]="getMoneyClass(betsExpenses)">
      {{ betsExpenses | currency }}</span
    >
  </div>
  <div fxLayout="row" fxFlexAlign="center" fxLayoutGap="5px">
    <mat-icon [ngClass]="getMoneyClass(steamExpenses)">sports_esports</mat-icon>
    <span [ngClass]="getMoneyClass(steamExpenses)">
      {{ steamExpenses | currency }}</span
    >
  </div>
  <div fxLayout="row" fxFlexAlign="center" fxLayoutGap="5px">
    <mat-icon [ngClass]="getMoneyClass(betsRemaining)"
      >account_balance_wallet</mat-icon
    >
    <span [ngClass]="getMoneyClass(betsRemaining)">
      {{ betsRemaining | currency }}</span
    >
  </div>
  <div fxLayout="row" fxFlexAlign="center" fxLayoutGap="5px">
    <mat-icon [ngClass]="getMoneyClass(total)">local_atm</mat-icon>
    <span [ngClass]="getMoneyClass(total)"> {{ total | currency }}</span>
  </div>
</div>
