.matches {
  height: 100%;
  width: 99%;
}

/* Hide scrollbar for IE, Edge and Firefox */
.matches .matchList {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  margin-top: 15px;
}