<div style="width: 100%" class="mat-body">
  <div fxLayout="column" fxFlex="75">
    <div fxLayout="row">
      <div>{{ bet.match.teams[0].name }} vs {{ bet.match.teams[1].name }}</div>
    </div>
    <div fxLayout="row">
      <div>
        {{ bet.betType }}
        <span *ngIf="bet.winnerTeam">{{ bet.winnerTeam.name }}</span> -
        {{ bet.price | currency }} - {{ bet.odds }}
      </div>
    </div>
    <div fxLayout="row" *ngIf="bet.match.winner">
      <span>Ganador {{ bet.match.winner.name }}</span>
    </div>
    <!--  div fxLayout="row" *ngIf="!bet.match.winner">
      <span>Resultado </span> <mat-icon>thumb_up</mat-icon
      ><mat-icon>thumb_down</mat-icon>
    </div-->
  </div>
  <div *ngIf="bet.finished" fxLayout="column" fxFlex="25">
    <div fxLayout="row" fxFlexAlign="center" fxFlex>
      <span
        style="font-size: 24px; align-items: center; display: inline-flex"
        >{{ result }}</span
      >
    </div>
  </div>
</div>
 